In [32]:
import pandas as pd
import numpy as np
import scipy.stats as st
from statsmodels.stats import proportion

In [3]:
df = pd.read_csv('cookie_cats 2.csv')
df

        userid  version  sum_gamerounds  retention_1  retention_7
0          116  gate_30               3            0            0
1          337  gate_30              38            1            0
2          377  gate_40             165            1            0
3          483  gate_40               1            0            0
4          488  gate_40             179            1            1
...        ...      ...             ...          ...          ...
90184  9999441  gate_40              97            1            0
90185  9999479  gate_40              30            0            0
90186  9999710  gate_30              28            1            0
90187  9999768  gate_40              51            1            0
90188  9999861  gate_40              16            0            0

[90189 rows x 5 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90189 entries, 0 to 90188
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   userid          90189 non-null  int64
 1   version         90189 non-null  object
 2   sum_gamerounds  90189 non-null  int64
 3   retention_1     90189 non-null  int64
 4   retention_7     90189 non-null  int64
dtypes: int64(4), object(1)
memory usage: 3.4+ MB

In [13]:
df.describe()

             userid  sum_gamerounds   retention_1   retention_7
count  9.018900e+04    90189.000000  90189.000000  90189.000000
mean   4.998412e+06       51.872457      0.445210      0.186065
std    2.883286e+06      195.050858      0.496992      0.389161
min    1.160000e+02        0.000000      0.000000      0.000000
25%    2.512230e+06        5.000000      0.000000      0.000000
50%    4.995815e+06       16.000000      0.000000      0.000000
75%    7.496452e+06       51.000000      1.000000      0.000000
max    9.999861e+06    49854.000000      1.000000      1.000000

In [6]:
duplicateRows = df[df.duplicated(['userid'])]
duplicateRows

Empty DataFrame
Columns: [userid, version, sum_gamerounds, retention_1, retention_7]
Index: []

Повторяющихся пользователей нет

In [14]:
df['version'].value_counts()

version
gate_40    45489
gate_30    44700
Name: count, dtype: int64

In [8]:
df[df['sum_gamerounds'] > 0].version.value_counts()

version
gate_40    43432
gate_30    42763
Name: count, dtype: int64

In [9]:
df[df['retention_1'] > 0].version.value_counts()

version
gate_40    20119
gate_30    20034
Name: count, dtype: int64

In [10]:
df[df['retention_7'] > 0].version.value_counts()

version
gate_30    8502
gate_40    8279
Name: count, dtype: int64

In [15]:
df_a = df[df['version'] == 'gate_30']
df_b = df[df['version'] == 'gate_40']

In [16]:
df_a.describe()

             userid  sum_gamerounds   retention_1   retention_7
count  4.470000e+04    44700.000000  44700.000000  44700.000000
mean   4.987564e+06       52.456264      0.448188      0.190201
std    2.881026e+06      256.716423      0.497314      0.392464
min    1.160000e+02        0.000000      0.000000      0.000000
25%    2.505469e+06        5.000000      0.000000      0.000000
50%    4.983631e+06       17.000000      0.000000      0.000000
75%    7.481497e+06       50.000000      1.000000      0.000000
max    9.999710e+06    49854.000000      1.000000      1.000000

In [17]:
all_a = df_a.sum_gamerounds.value_counts().sum()
lvl_a = df_a[df_a['sum_gamerounds'] != 0].value_counts().sum()
all_a, lvl_a

(44700, 42763)

In [18]:
df_b.describe()

             userid  sum_gamerounds   retention_1   retention_7
count  4.548900e+04    45489.000000  45489.000000  45489.000000
mean   5.009073e+06       51.298776      0.442283      0.182000
std    2.885496e+06      103.294416      0.496663      0.385849
min    3.770000e+02        0.000000      0.000000      0.000000
25%    2.517171e+06        5.000000      0.000000      0.000000
50%    5.007329e+06       16.000000      0.000000      0.000000
75%    7.510762e+06       52.000000      1.000000      0.000000
max    9.999861e+06     2640.000000      1.000000      1.000000

In [20]:
all_b = df_b.sum_gamerounds.value_counts().sum()
lvl_b = df_b[df_b['sum_gamerounds'] != 0].value_counts().sum()
all_b, lvl_b

(45489, 43432)

In [21]:
st.shapiro(df_a['sum_gamerounds'])

C:\Users\MoHaX28reg\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\scipy\stats\_morestats.py:1882: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

ShapiroResult(statistic=0.08805108070373535, pvalue=0.0)

Распределение не нормальное. Используем критерий Манна-Уитни

In [22]:
st.mannwhitneyu(df_a['sum_gamerounds'], df_b['sum_gamerounds'])

MannwhitneyuResult(statistic=1024331250.5, pvalue=0.05020880772044255)

pvalue=0.05, следовательно значемых различий между вариантами нет

In [23]:
df_a['sum_gamerounds'].mean(), df_b['sum_gamerounds'].mean()

(52.45626398210291, 51.29877552814966)

# С точки зрения пройденных уровней версия gate_30 лучше, но не значительно. Будем проводить проверку по посещению игры

In [24]:
ret1_a = df_a[df_a['retention_1'] != 0].value_counts().sum()
all_a, ret1_a

(44700, 20034)

In [25]:
ret1_b = df_b[df_b['retention_1'] != 0].value_counts().sum()
all_b, ret1_b

(45489, 20119)

In [33]:
chisq, pvalue, table = proportion.proportions_chisquare(np.array([ret1_a, ret1_b]), np.array([all_a, all_b]))

print('Results are ','chisq =%.3f, pvalue = %.3f'%(chisq, pvalue))

Results are  chisq =3.183, pvalue = 0.074

In [37]:
df_a['retention_1'].mean(), df_b['retention_1'].mean()

(0.4481879194630872, 0.44228274967574577)

pvalue = 0.074, следовательно значемых различий при ежедневном посещении нет.

In [34]:
ret7_a = df_a[df_a['retention_7'] != 0].value_counts().sum()
all_a, ret7_a

(44700, 8502)

In [35]:
ret7_b = df_b[df_b['retention_7'] != 0].value_counts().sum()
all_b, ret7_b

(45489, 8279)

In [36]:
chisq, pvalue, table = proportion.proportions_chisquare(np.array([ret7_a, ret7_b]), np.array([all_a, all_b]))

print('Results are ','chisq =%.3f, pvalue = %.3f'%(chisq, pvalue))

Results are  chisq =10.013, pvalue = 0.002

In [38]:
df_a['retention_7'].mean(), df_b['retention_7'].mean()

(0.19020134228187918, 0.18200004396667327)

# При всех рассмотренных показателях увеличение сложности не принёс результатов. Следовательно не стоит вносить изменения в игру в части увелечения точки сохранения на 40м уровне. Что касается ежедневной или еженедельной проверки посещения приоритет отдаю ежедневной, так как она охватывает большее количество пользователей, пользователи могут не заходить в игру всю неделю, больше шанс зарабатывать на рекламе.